@import "../../variables.scss";


.dog-management {
  height: 32rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  &__card {
    margin:1rem;
    height: 16rem;
    width: 16rem;
    & img{
      height: 12rem;
      width: 12rem;
      object-fit: cover;
    }

  }
}

.dog-card {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
  height:20rem;
  background-color:$color-secondary-dark;
  border-radius:1rem;
  &__image{
    margin-top:2rem;
  }
  &__title{
    color:white;
    font-size:1.5rem;
  }
}
