

.dog-crud {
  height: 32rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .dog-crud__card{
    width:16rem;
    margin:1rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:20rem;
    flex-direction:column;
    & img {
      margin:2rem;
      height:12rem;
      width:12rem;
    }
  }
}
