@import "./variables.scss";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;


}

html{
  overflow:hidden;
  font-size:16px;

}

@media screen and (max-width: 992px) and (min-width: 400px) {
  html {

    font-size:12px;
  }
}

#root {
  background-color: $color-primary;
  min-width:100vw;
  min-height:100vh;
  max-height:100vh;
}

